* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    background-color: rgba($white,0);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: $gray-300;
    border-radius: 3px;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

input:focus {
    outline: none;
    border-color: #BBBBBB;
}

section {
	/*margin-top: 5vw;
	height: calc(100vh - 5vw);
	overflow-y: auto;*/
}

.browser {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-image: url(img/browser.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 5vw;
}

.browser img {
	height: 2.2vw;
}

.browser img:nth-child(2) {
	transform: translateX(-1.4vw);
}

.content {
    height: calc(100vh - 8vw);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search {
    display: block;
    width: 41vw;
    font-size: 18px;
    border: 1px solid #DBDBDB;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px 50px;
    background-image: url(img/search-bg.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.submit {
    display: block;
    margin: 0 auto;
    background-color: #F7F8F9;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit:hover {
    background-color: #E8E9EA;
}

.footer {
    position: absolute;
    bottom: 0;
}

/*.result {
	max-width: 1200px;
	margin: 0 auto;
}*/

.result {
    max-width: auto;
    margin-left: 11vw;
}

.flex {
	display: flex;
}

.half {
    flex: 50%;
    max-width: 50%;
    padding: 10px;
}

.left {
	flex: 60%;
	max-width: 60%;
    padding-top: 20px;
}

.left img {
	cursor: pointer;
}

.left a > img:hover {
	filter: hue-rotate(45deg);
}

.right {
	flex: 30%;
	max-width: 30%;
	padding: 40px;
}

.history-left {
    flex: 20%;
    max-width: 20%;
    padding-right: 10px;
}

.history-right {
    flex: 80%;
    max-width: 80%;
}

.history-content {
    margin: 10px;
    padding: 0 20px;
    border: 2px solid #ccc;
    border-radius: 2px;
}

.uniHeader {
    background-color: #586A5B;
    background-image: url(img/uniHeader.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.uniHeader > img {
    transform: translateY(4px);
}

.uniSearch {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.uniSearch input {
    padding: 10px;
    width: 80px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.uniSearch button {
    height: 36px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #B6CEAF;
    padding: 10px 20px;
    cursor: pointer;
}

.uniSearch button img {
    max-height: 100%;
}

.popUp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.popUp.show {
    display: flex;
}

.popUpContent {
    background-color: #F2F7E5;
    border-radius: 5px;
    padding: 20px;
    height: 70vh;
    width: 70vw;
    overflow-x: auto;
}

.popUpContent input {
    width: 50vw;
}
